h1
{
text-align : center;
margin: 0 0 0 0;
color: black;
font-size:50px;
padding-bottom: 20px;
}

h2
{
padding-top : 50px;
text-align : center;
color: pink;
}	

body{
background-color: white;
font-family: 'Montez', cursive;	
}
ul{
list-style-type: none;
font-size: 1.5em;
text-align: center;
margin:0;
padding:0;
}

}
address{
	margin-left: 25%;
}

li{
	float: left;
	background-color: blue;
	margin:auto;
	padding:0;
}


a{	color: white;
	text-decoration: none;
	display:block;
	width: 300px;
	}

li:hover {
background-color: pink;
}

li:hover ul li {			
 float:none;	 
}

ul li ul {			
display:none;	
}
 
ul li:hover ul {			
 	display:block;
}
  
li ul {
position:absolute;
}

